# Packages
asyncio >= 3.4.3
celery >= 4.4
hypercorn >= 0.9.0
lxml >= 4.4.1
prettytable >= 0.7.2
quart >= 0.11.0
quart-openapi >= 1.5
redis >= 3.4
requests >= 2.22.0
SQLAlchemy >= 1.3
sphinx >= 2.2.0
wtforms >= 2.2
zeep >= 3.3.0
